{% extends 'base.html.twig' %}

{% block body %}

    <div ng-app="DeparturesApp">
        <div ng-controller="DeparturesController as DeparturesCtrl">
            {[{ busstops }]}
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('angular.min.js') }}"></script>
<script src="{{ asset('app.js') }}"></script>
{% endblock %}