[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

#loader {  
    position:absolute;
    left : 45%;
    top : 20%;
 }
 
.busstopsList {
    min-height: 500px;
}

.busstopsList ul {
    margin-bottom: 10px;
    overflow-y:scroll;height: 500px;
}

.busstopSearch {
    margin-bottom: 10px;
}

.busstopDepartures {
    position:relative;
    min-height: 500px;
}